@font-face {
  font-family: 'Liberation Sans';
  src: url('@/assets/fonts/LiberationSans-Regular.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Liberation Sans', Arial, Helvetica, sans-serif;
}
