@font-face {
  font-family: 'Liberation Sans';
  src: url('@/assets/fonts/LiberationSans-Regular.ttf') format('truetype');
}

* {
  box-sizing: border-box;
  font-family: 'Liberation Sans', Arial, Helvetica, sans-serif;
}

*:focus {
  box-shadow: none !important;
}

body {
  margin: 0;
}
